/*-----------------------------------------------------------------------------------
	    下午三點-1
        Built with Blocs
-----------------------------------------------------------------------------------*/
 
body{
	margin:0;
	padding:0;
    background:#2E4052;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow-x:hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}


/* Preloader */

.page-preloader{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-lg{
	padding:100px 50px;
}

/* = Full Screen Blocs 
-------------------------------------------------------------- */

.bloc-fill-screen{
	min-height:100vh;
	display: flex;
	flex-direction: column;
	padding-top:20px;
	padding-bottom:20px;
}
.bloc-fill-screen > .container{
	align-self: flex-middle;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
}
.bloc-fill-screen > .container > .row{
	flex-grow: 1;
	align-self: center;
	width:100%;
}
.bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
	flex-grow: 0;
}
.bloc-fill-screen .fill-bloc-top-edge{
	align-self: flex-start;
}
.bloc-fill-screen .fill-bloc-bottom-edge{
	align-self: flex-end;
}


/* Background Styles */

.bg-center,.bg-l-edge,.bg-r-edge,.bg-t-edge,.bg-b-edge,.bg-tl-edge,.bg-bl-edge,.bg-tr-edge,.bg-br-edge,.bg-repeat{
	-webkit-background-size: auto!important;
	-moz-background-size: auto!important;
	-o-background-size: auto!important;
	background-size: auto!important;
}
.bg-center{
	-webkit-background-size: auto;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .card{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .card icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .card .btn-wire, .d-bloc .card .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}


/* = NavBar
-------------------------------------------------------------- */

.hero .hero-nav{
	padding-left:inherit;
	padding-right:inherit;
}
/* Handle Multi Level Navigation */.navbar-light .navbar-nav .nav-link {
	color: rgb(64, 64, 64);
}
.btco-menu li > a {
	padding: 10px 15px;
	color: #000;
}
.btco-menu .active a:focus,.btco-menu li a:focus ,.navbar > .show > a:focus{
	background: transparent;
	outline: 0;
}
.dropdown-menu .show > .dropdown-toggle::after{
	transform: rotate(-90deg);
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-rd{
	border-radius: 40px;
}
.btn-style-none,.btn-style-none:hover,.btn-style-none:active,.btn-style-none:focus{
	background:none;
	box-shadow: none;
	padding:0;
}

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}
.icon-md{
	font-size:30px!important;
}


/* = Text & Icon Styles
-------------------------------------------------------------- */
.blockquote{
	padding:0 20px;
	border-left:2px solid;
}
.blockquote.text-right{
	border-left:0;
	border-right:2px solid;
}


.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}





/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
}
.container{
	max-width:1140px;
}
.navbar-brand img{
	width:60px;
}
.link-style{
	font-weight:bold;
	width:100%;
}
.img-style{
	width:15px;
	height:15px;
	margin-top:4px;
	margin-left:-9px;
}
.img-bloc-0-style{
	width:500px;
}
.btn-margin-top{
	margin-top:18px;
	margin-left:0px;
	font-weight:bold;
	color:#5E5E5E!important;
}
.h2-style{
	font-family:"Droid Serif";
	margin-left:0px;
	margin-top:1px;
	margin-bottom:10px;
	width:98.05%;
}
.h2-bloc-0-style{
	font-family:"Droid Serif";
	margin-bottom:45px;
	margin-top:35px;
}
.h5-正式公開-style{
	font-family:"Droid Serif";
	margin-left:6px;
	margin-bottom:8px;
}
.bloc-margin-top{
	margin-top:-32px;
}
.img-2020-tff-1-style{
	width:647px;
}
.p-style{
	font-family:"Droid Serif";
	width:100%;
}
.h5-2020-台北電影節-style{
	font-family:"Droid Serif";
	margin-bottom:-6px;
	letter-spacing:1px;
	width:100%;
}
.p-bloc-1-style{
	font-family:"Droid Serif";
	font-size:17px;
	margin-top:29px;
	width:100%;
}
.text-span-color{
	color:#ffffff;
}
.img-5-style{
	width:640px;
	margin-left:-28px;
}
.btn-style{
	font-weight:bold;
	font-family:"Droid Serif";
}
.btn-獨立作品-style{
	font-weight:bold;
	font-family:"Droid Serif";
}
.btn-聯絡我們-style{
	font-weight:bold;
	font-family:"Droid Serif";
}
.row-style{
	margin-top:52px;
}
.h3-margin-bottom{
	margin-bottom:-24px;
	font-family:"Droid Serif";
	margin-left:0px;
}
.bloc-margin-bottom{
	margin-bottom:29px;
}
.p-margin-top{
	margin-top:15px;
	margin-bottom:26px;
	font-size:10px;
}
.container-div-margin-left{
	margin-left:3px;
}
.p-bloc-2-style{
	font-family:"Droid Serif";
}
.row-margin-top{
	margin-top:41px;
}
.img-bloc-3-style{
	height:700px;
}
.p-bloc-3-style{
	font-family:"Droid Serif";
}
.img-4-style{
	width:250px;
}
.btn-關於副業時代-style{
	font-weight:bold;
	color:#FE4238!important;
	margin-top:26px;
}
.img-bloc-複業時代-style{
	width:30px;
}
.p-margin-bottom{
	margin-bottom:9px;
	font-size:17px;
}
.img-5-bloc-複業時代-style{
	width:30px;
	height:30px;
	margin-left:-60px;
	margin-right:-21px;
}
.img-6-style{
	width:31px;
	height:31px;
	margin-left:-120px;
}
.img-google-podcas-style{
	width:29px;
	height:29px;
	margin-left:-179px;
}
.p-bloc-複業時代-style{
	font-size:17px;
}
.p-6-margin-top{
	margin-top:28px;
	font-size:16px;
	margin-left:-12px;
}
.text-span-bloc-4-color{
	color:#ff4338;
}
.img-bloc-4-style{
	width:100px;
	margin-bottom:55px;
}
.bloc-bloc-4-margin-top{
	margin-top:50px;
}
.p-bloc-4-margin-top{
	margin-top:29px;
}
.bloc-bloc-4-margin-bottom{
	margin-bottom:-1px;
}
.btn-margin-right{
	margin-right:0px;
}
.p-bloc-4-style{
	font-size:17px;
	margin-top:26px;
}
.p-12-style{
	font-size:17px;
	margin-top:26px;
}
.h5-讓貓貓陪你度過新的一年-style{
	font-family:"Droid Serif";
}
.p-14-style{
	font-family:"Droid Serif";
	font-size:17px;
	margin-top:20px;
	margin-bottom:27px;
}
.btn-現在就訂閱！-style{
	font-weight:bold;
	margin-top:14px;
	color:#FF2600!important;
}
.p-bloc-5-style{
	width:100%;
	margin-top:26px;
	font-family:"Droid Serif";
	margin-bottom:28px;
}
.p-bloc-5-margin-top{
	margin-top:22px;
}
.img-margin-bottom{
	margin-bottom:-1px;
	width:100px;
}
.row-bloc-貓咪月曆-margin-top{
	margin-top:75px;
	margin-bottom:66px;
}
.img-9-style{
	width:29px;
	height:29px;
	margin-left:-240px;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-white{
	background-color:#FFFFFF;
}
.bgc-seal-brown{
	background-color:#311335;
}
.bgc-outer-space{
	background-color:#424242;
}

/* Text colour styles */

.tc-white{
	color:#FFFFFF!important;
}
.tc-davys-grey{
	color:#5E5E5E!important;
}
.tc-white-2{
	color:rgba(255,255,255,0.87)!important;
}

/* Icon colour styles */

.icon-white{
	color:rgba(255,255,255,0.87)!important;
	border-color:rgba(255,255,255,0.87)!important;
}
.icon-white-2{
	color:#FFFFFF!important;
	border-color:#FFFFFF!important;
}

/* Bloc image backgrounds */




/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}
@media (max-width: 767px){
	.text-right{
	}
	.text-left{
	}
	.text-center{
	}
	
}

@media (max-width: 575px){
	.footer-link{
		text-align:center;
	}
	.img-google-podcas-style{
		margin-left:-1px;
		margin-top:-30px;
	}
	.img-bloc-0-style{
		width:200px;
		margin-top:-30px;
	}
	.img-margin-bottom{
		margin-top:0px;
	}
	.bloc-bloc-5-margin-top{
		margin-top:52px;
	}
	.img-style{
		width:15px;
	}
	.img-icons8-line-2-style{
		width:15px;
		height:15px;
		margin-bottom:3px;
		margin-left:-4px;
	}
	.container-div-margin-top{
		margin-top:10px;
	}
	.container-div-bloc-0-margin-top{
		margin-top:10px;
	}
	.img-15-style{
		width:29px;
		height:29px;
		margin-top:-30px;
		margin-left:-38px;
	}
	
}

